<div class="app-header">
    <div class="app-header__tabs">
        <button data-rel="day" type="button" class="app-header__button"> <span>dayly</span> </button>
        <button data-rel="week" type="button" class="app-header__button active"> <span>weekly</span> </button>
        <button data-rel="month" type="button" class="app-header__button "> <span>monthly</span> </button>
    </div>
    <div class="app-header__nextprev">
        <div class="app-dropdown">
            <select name="" class="styler">
                <option value="lorem 01"> lorem 01</option>
                <option value="lorem 02"> lorem 02</option>
                <option value="lorem 02"> lorem 02 lorem 02 lorem 02 lorem 02 lorem 02</option>
                <option value="lorem 03"> lorem 03</option>
            </select>
        </div>
        <button type="button" class="app-header__nextprev-btn"><svg><use xlink:href="#arrow"></use></svg></button>
        <div class="app-header__nextprev-txt" >selectable text</div>
        <button type="button" class="app-header__nextprev-btn"><svg><use xlink:href="#arrow-next"></use></svg></button>
    </div>
</div>