<button type="button" class="calendar__prev hide">
    <svg><use xlink:href="#scroll-next"></use></svg>
</button>
<button type="button" class="calendar__next hide">
    <svg><use xlink:href="#scroll-next"></use></svg>
</button>