<div class="users__taskname">Lorem ipsum</div>
<div class="users__tasktime"><span>4h</span></div>
<div class="users__dropdown">
    <p>lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text </p>
    <p>lorem text lorem <b>bold lorem text </b>text lorem text lorea <a href="#">lorem text href</a>t lorem text lorem text </p>
    <h1>Lorem h1 title</h1>
    <h2>Lorem h2 title</h2>
    <h3>Lorem h3 title</h3>
    <h4>Lorem h4 title</h4>
    <h5>Lorem h5 title</h5>
    <h6>Lorem h6 title</h6>
    <p>lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text </p>
    <p>lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text </p>
    <p>lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text lorem text </p>
    <ul>
        <li>lorem list</li>
        <li>lorem list</li>
        <li>lorem list</li>
        <li>lorem list</li>
        <li>lorem list</li>
    </ul>
    <hr>
    <ol>
        <li>lorem list</li>
        <li>lorem list</li>
        <li>lorem list</li>
        <li>lorem list</li>
        <li>lorem list</li>
    </ol>
</div>