/* base styles*/
*,*:before, *:after{box-sizing:border-box;outline:none;}
*,body,html{-webkit-text-size-adjust: none;-webkit-appearance: none;max-height: 9001em;}
html{height:100%;}
body{min-height:100%;  height: 100%;width:100%;min-width:320px;font-family:arial,sans-serif;background:#fff;color:#3d3d3d;position:relative;font-size: 16px;line-height: 1.25; }
img{vertical-align:bottom;border:0;max-width:100%;}
.mbox{max-width:1024px;width:100%;margin:0 auto;position:relative;z-index:1;}
.global-wrapper{display: flex; flex-direction: column; height: 100%;}
footer {  height: 40px; background: cadetblue;  flex-grow: 0;  flex-shrink: 0;  flex-basis: auto; }
.main{flex-grow: 1; flex-shrink: 0; flex-basis: auto;}

$mat: #286EBB;
$matHover: #173F6C;
$mat2: #f0f0f0;
$border: #e6e6e6;
$heightCell: 54px;
$smallCell: 21px;
$bigCell: 170px;
$shadow: 0 2px 7px 0 rgba(0,0,0,.2);

.app-teamreport{position: relative;}
.app-tooltip{position: absolute;   z-index: 1200; box-shadow: $shadow; max-width: 400px; max-height: 300px; overflow-y: auto; overflow-x: hidden; font-size: 12px; padding: 15px; border-radius: 3px; background-color: $mat2; border:1px solid $border;}
.app-title{position: absolute;   z-index: 1500; box-shadow: $shadow; max-width: 400px;    font-size: 12px; padding: 6px; border-radius: 3px; background-color: $mat;  pointer-events: none; transform:translate(10px, 5px); color: #fff; }
.app-header{background-color: $mat;
    &__tabs{display: flex;   box-shadow: $shadow; position: relative;}
    &__button{border:none; background-color: transparent; border-radius: 0; box-shadow: none; width: 33.3333%; flex-grow: 1; border-bottom: 3px solid transparent; text-align: center; padding: 8px; cursor: pointer;
        &:hover{ background-color: $matHover;
            span{opacity: 1;}
        }
        span{text-transform: uppercase; opacity: 0.5; color: #fff;}
        &.active{border-bottom-color: #fff;
            &:hover{ background-color: $mat;}
            span{opacity: 1;}
        }
    }
    &__nextprev-btn{width: 30px; height: 30px; border:none; background-color: transparent; border-radius: 0; box-shadow: none; padding: 4px; margin: 0 8px;
        svg{fill: $mat; width: 100%; height: 100%;}
        &:hover svg{fill: $matHover;}
    }
    &__nextprev-txt{text-transform: uppercase;   color: $mat;}
    &__nextprev{ background-color: $mat2; display: flex; justify-content: center; align-items: center; padding: 8px; font-size: 12px; position: relative; }
}
.app-body{position: relative; width: 100%;}
.app-dropdown{position: absolute; left: 0; top: 0; width: 250px; opacity: 0;
    &.show{opacity: 1;}
    .jq-selectbox{width: 100%; font-weight: bold; background: #fff;

        &__select{  display: flex; border-bottom: 3px solid transparent; width: 100%;}
        &__select-text{height: 43px; flex-grow: 1; line-height: 43px; padding: 5px 10px; white-space: nowrap; text-overflow: ellipsis; width: 100%; overflow: hidden;}
        &__trigger{width: 36px; flex-shrink: 0; position: relative; display: flex;justify-content: center;align-items: center;
            &:before{width: 9px; height: 9px; border: 2px solid $mat; border-left:0; border-bottom: 0; content: ''; transform:rotate(135deg); display: block;}
        }
        &__dropdown{width: 100%; background-color: $mat2; box-shadow: $shadow;
            ul{margin: 0; padding: 0;}
            li{line-height: 2em; width: 100%; padding: 5px 15px; cursor: pointer;
                &:hover{background-color: $matHover; color: #fff;}
                &.selected{background-color: $mat; color: #fff;
                    &:hover{background-color: $matHover; color: #fff;}
                }
            }
        }
        &.opened{
            .jq-selectbox{
                &__select{ border-color: $mat;  }
            }
        }
    }
}
.datepicker-button{width: 54px; height: 54px;   background-color: transparent; border:none; border-radius: 0; box-shadow: none; padding: 14px;
    svg{fill: $mat; width: 100%; height: 100%;}
    &:hover svg{fill: $matHover;}
}
.users--mini{
    .user__timings{display: none;}
    .user__wrap{padding-right: 20px;}
}
.greed{
    &__row{display: inline-flex; height: 100%; position: relative;
        &--small{
            .users__task-emiter,
            .calendar__day{min-width: $bigCell;}
            .calendar__date{padding-top: 5px; padding-bottom: 0;}

        }
        &--big{
            .users__task,
            .users__task-emiter{height: $heightCell;}
        }
    }
    &__cell{position: relative; height: 100%; border-left: none; flex-grow: 1; flex-basis: 1px; flex-shrink: 0; font-size: 13px; line-height: 13px;   background-color: #fff;
        &.weekend {
            &:before{ background-color: rgba(0,0,0,.04);  background-image: url(../images/a1.png); }
            .calendar__day{ background-color: #f5f5f5; }
        }
        &.new-week {
            .calendar__day{border-left: 1px solid $border;}
        }
        &.today{    background-color: #e5eaff;
            &:before{ background-color: #e5eaff; }
            .calendar__day{  background-color: #e5eaff;}
        }

    }
}
.calendar{width: 100%; height: 100%; position: relative; overflow-x: auto; overflow-y: hidden;
    &__outter{width: 100%; height: 100%; position: absolute; overflow: hidden;}
    &__date{text-align: center;padding: 8px 0;  user-select: none;}
    &__day-inner{ position: relative; padding-top: 10px;}
    &__day{position: relative; width: 100%; height: $heightCell; min-width: $heightCell; padding-top: 17px; display: flex; flex-direction: column; align-items: center; background-color: #fff; }
    &__day--abs{position: absolute; width: $smallCell*7; left: 0; top: 0; z-index: 30; display: flex; flex-direction: column;justify-content: center;align-items: center; height: 100%;}
    &__top{position: absolute; top: 0;  left: 0;  white-space: nowrap;}
    &__wrap{height: 100%; position: relative;}
    &__header{height: 100%;
        .greed__cell {
            &:before {content: ''; height: 100%; min-height: 100%; border-left: 1px solid $border; border-right: 1px solid transparent; position: absolute; top: 0; width: 100%;}
        }
        .greed__row:before{content: ''; width: 100%; box-shadow: $shadow; height: $heightCell; top: 0;left: 0; z-index: 10 ; position: absolute; pointer-events: none;}
        &.duplicate{display: none;
            &.fixed{display: block;}
        }
        &.fixed{height: auto; width: 100%; z-index: 999; position: absolute;}
    }
    &__prev,
    &__next{width: 40px; right: 0;position: absolute; top: $heightCell; height:  calc(100% - 54px);   background-color: rgba(0, 0, 0, 0.1); border-radius: 0; box-shadow: none; padding: 6px; border:1px solid $border;
        svg{fill: $mat; width: 100%; height: 100%;}
        &:hover{background-color: rgba(0, 0, 0, 0.3);
            svg{fill: $matHover;}
        }
    }
    &__prev{right: auto; left: 0;  transition: left 300ms;
        &.hide{left: -40px;}
        svg{transform: scaleX(-1);}
    }
    &__next{transition: right 300ms;
        &.hide{right: -40px;}
    }
}
.carcas{display: flex; border-top: 1px solid $border; position: relative; left: 0; top: 0; width: 100% ;
    &__users{  flex-shrink: 0;   }
    &__calendar{ flex-grow: 1; width: calc(100% - 130px); position: absolute; z-index: 0; opacity: 0; pointer-events: none;
        &.active{opacity: 1;z-index: 10; position: relative; pointer-events: all;}
    }
}
.user{width: 54px; flex-shrink: 0; padding-top: 10px; position: relative;
    &__name{position: relative;  z-index: 0;  margin: 5px 0; font-size: 12px;  text-align: center;overflow: hidden;white-space: nowrap;text-transform: lowercase;color: rgba(9,9,9,.5); padding: 0 5px;text-overflow: ellipsis;}
    &__photo{width: 44px; height: 44px; border-radius: 50%; overflow: hidden; background-position: 50% 50%; display: block; margin: 0 auto; background-color: rgb(149, 117, 205);}
    &__wrap{width: 100%; display: flex; position: relative;}
    &__timings{display: flex; flex-direction: column; width: 100%; }
    &__time{width: 100%; height: $heightCell/2; min-width: $heightCell; font-size: 10px; white-space: nowrap; display: flex; justify-content: flex-end;align-items: center; border-bottom: 1px solid $border; padding: 5px;
    }
    &__act{position: absolute; top: 3px; left: 35px; padding: 4px; font-size: 12px; line-height: 12px; text-transform: uppercase;  background-color: $mat; color: #fff; border-radius: 6px; }
}
.users{border-top: 1px solid $border;
    &__tasks{position: absolute; left: 0;top: $heightCell; width: 100%;
        .greed__row{margin-bottom: 25px;}
        .greed__cell{background-color: rgba(0, 0, 0, 0.2);}
    }
    &__task-emiter{width: 100%; height: $heightCell/2; min-width: $heightCell;
        &:hover{background-color: rgba(0, 0, 0, 0.2);}
        &.disabled{pointer-events: none;}
    }
    &__task{position: absolute;top: 0;left: 0; height: $heightCell/2; cursor: pointer; opacity: 0.8;   display: flex;justify-content: space-between;
        &:hover{opacity: 1;box-shadow: rgba(255, 255, 255, 0.75) 0px 2px 7px 0px;  }
    }
    &__taskname{white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding: 3px; font-size: 12px;}
    &__tasktime {display: flex; flex-direction: column; justify-content: flex-end;
        span{padding: 3px; background-color: rgba(0,0,0,0.2); font-size: 10px; }
    }
    &__dropdown{display: none;}
}
.month-name { color: #0041ff;  margin-right: 5px; user-select: none;  }
.week-number {  position: absolute; top: 2px;  left: 2px;font-size: 10px;line-height: 10px;font-weight: 400;color: rgba(0,0,0,.35); user-select: none;}